<div class="heading">
  <%- include('../toggle') %>
  <%- title %>

  <% if (page) { %>
    <ul class="basic fixed menu">
      <li><button class="small button" id="page-settings">Settings</button></li>
    </ul>
  <% } %>

  <% if (pageRecord) { %>
    <ul class="sub-menu">
      <li><a href="/dashboard/page<%- pageRecord.permalink %>">Page</a></li>
      <li><a href="/dashboard/collection<%- pageRecord.permalink %>" class="active">Records</a></li>
    </ul>
  <% } %>
</div>

<section class="section">
  <% if (pageRecord) { %>
    <form class="form" action="/dashboard/<%- template.type %><%- pageRecord ? pageRecord.permalink : `/${template.name}` %>" method="post" enctype="multipart/form-data" data-autosave="true" novalidate>
      <section class="metadata">
        <div class="content">
          <h3>Page Settings</h3>
          <div class="metadata__split-section">
            <%- Form.field(`metadata[name]`, 'name', {
              default: pageRecord && pageRecord.defaultName,
              required: false,
              help: 'Human readable name used for site navigation.'
            }, pageRecord.metadata.name || '', errors.hasOwnProperty('metadata[name]') && errors['metadata[name]'], { pages }) %>
            <%- Form.field(`metadata[slug]`, 'slug', {
              type: 'url',
              default: pageRecord && pageRecord.defaultSlug,
              required: false,
              help: 'The URL where this page can be found.',
              prefix: '/',
            }, pageRecord.metadata.slug, errors.slug, { pages }) %>
            <%- Form.field(`metadata[title]`, 'title', {
              default: pageRecord && pageRecord.defaultTitle,
              required: false,
              help: "This page's title, as will appear in search results."
            }, pageRecord.metadata.title, errors.title, { pages }) %>
            <%- Form.field(`metadata[description]`, 'description', {
              default: pageRecord && pageRecord.defaultDescription,
              required: false,
              help: "This page's description, as will appear in search results."
            }, pageRecord.metadata.description, errors.description, { pages }) %>
            <%- Form.field(`metadata[redirectUrl]`, 'redirectUrl', {
              default: pageRecord && pageRecord.redirectUrl,
              required: false,
              help: "Redirect this page to a new location."
            }, pageRecord.metadata.redirectUrl, errors.redirectUrl, { pages }) %>
            <%- Form.field(`metadata[createdAt]`, 'createdAt', {
              type: 'date',
              time: true,
              default: pageRecord && pageRecord.createdAt,
              required: false,
              help: "Date created."
            }, pageRecord.metadata.createdAt, errors.createdAt, { pages }) %>
          </div>
          <input type="hidden" name="_csrf" value="<%- csrf %>">
          <input type="submit" class="button">
        </div>
      </section>
    </form>
  <% } %>
  <div class="wide content">
    <a href="/dashboard/new/collection<%- pageRecord ? pageRecord.permalink : `/${template.name}` %>" class="small button button--right">New <%- template.labelSingular %></a>
    <table class="preview table <%- tableAction %>">
      <thead>
        <tr>
          <% template.tableColumnsHeaders.forEach(header => { %>
          <th><%- header %></th>
          <% }) %>
          <th class="no-sort"></th>
        </tr>
      </thead>
      <tbody>
        <% records.forEach(record => { %>
        <tr data-id="<%- record.id %>">
          <% template.tableColumns.forEach(key => { %>
          <td><%- previewContent(record, key.toLowerCase(), template) %></td>
          <% }) %>
          <td class="right aligned">
            <a href="/dashboard/<%- template.type %><%- record.permalink %>" class="small basic button">
              Edit
            </a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table> 
  </div>
</section>
