<h1 class="heading">
  <a href="#" class="toggle-sidebar" title="Toggle sidebar">Toggle sidebar</a>
  {{title}}

  {{#unless isNewRecord}}
    {{#if page}}
      <ul class="basic fixed menu">
        <li><button class="small button" id="page-settings">Settings</button></li>
      </ul>
    {{/if}}
  {{/unless}}
  {{#if (and (not isNewRecord) (and pageTemplate collectionTemplate))}}
    <ul class="sub-menu">
      <li><a href="/dashboard/page{{page.permalink}}" class="{{#if (eq template.type 'page')}}active{{/if}}">Page</a></li>
      <li><a href="/dashboard/collection{{page.permalink}}" class="{{#if (eq template.type 'collection')}}active{{/if}}">Records</a></li>
    </ul>
  {{/if}}
</h1>

<section class="section">
  <form class="form" action="/dashboard/{{template.type}}{{#if (and (not (eq template.type 'settings')) page)}}{{page.permalink}}{{else}}/{{template.name}}{{/if}}" id="edit-form" method="post" enctype="multipart/form-data" novalidate>
    {{#if page}}
      <section class="metadata {{#if isNewRecord}}open{{/if}}">
        <div class="content">
          <h3>Page Settings</h3>
          <div class="metadata__split-section">
            {{#each pageTemplate.metaFields as |field|}}
              <div class="{{#if (and field.options.required (not field.options.default))}}required{{/if}} {{#if (lookup errors.metadata field.key)}}error{{/if}} field field__{{or field.type 'text'}}">
                <label for="metadata[{{field.key}}]">
                  {{or field.options.label (toTitleCase field.key)}}
                  {{#if field.options.help}}
                    <small id="help-metadata[{{field.key}}]" class="help">{{field.options.help}}</small>
                  {{/if}}
                </label>
                {{{directive 'metadata' field ../page}}}
                {{#if (lookup errors.metadata field.key)}}<small class="error-message" aria-role="alert">{{lookup errors.metadata field.key}}</small>{{/if}}
              </div>
            {{/each}}
          </div>
        </div>
      </section>
    {{/if}}
    {{#if record}}
      <div class="content">
        {{#if template.hasFields}}
          {{#each template.sortedFields as |field|}}
            <div class="{{#if (and field.options.required (not field.options.default))}}required{{/if}} {{#if (lookup errors.content field.key)}}error{{/if}} field field__{{or field.type 'text'}}">
              <label for="content[{{field.key}}]">
                {{or field.options.label (toTitleCase field.key)}}
                {{#if field.options.help}}
                  <small id="help-content[{{field.key}}]" class="help">{{field.options.help}}</small>
                {{/if}}
              </label>
              {{{directive 'content' field ../record}}}
              {{#if (lookup errors.content field.key)}}<small class="error-message" aria-role="alert">{{lookup errors.content field.key}}</small>{{/if}}
            </div>
          {{/each}}
        {{else}}
          <div class="content">
            <p>This template has no fields.</p>
          </div>
        {{/if}}

        <div class="submit field" style="overflow: hidden;">
          <input class="button floated right" type="submit" value="Save">
          {{#if (and (not isNewRecord) (or (eq template.type 'collection') (eq template.type 'page')))}}
            <input type="submit" class="floated left basic red button" onClick="javascript:document.getElementById('delete-record').value = 'true';" value="Delete" />
          {{/if}}

          <input type="hidden" id="delete-record" name="_delete" value="false">
          <input type="hidden" name="_csrf" value="{{csrf}}">
        </div>
      </div>
    {{else}}
      <div class="wide content">
        <a href="/dashboard/new/collection{{#if page}}{{page.permalink}}{{else}}/{{template.name}}{{/if}}" class="small button button--right">New {{template.labelSingular}}</a>
        <table class="preview table {{#if template.sortable}}draggable{{else}}sortable{{/if}}">
          <thead>
            <tr>
              {{#each collectionTemplate.tableColumnsHeaders}}
                <th>{{header}}</th>
              {{/each}}
              <th class="no-sort"></th>
            </tr>
          </thead>
          <tbody>
            {{#each collection as |record|}}
              <tr data-id="{{id}}">
                {{#each collectionTemplate.tableColumns as |column|}}
                  <td>{{preview record column.key column.template}}</td>
                {{/each}}
                <td class="right aligned">
                  <a href="/dashboard/{{template.type}}{{permalink}}" class="small basic button">
                    Edit
                  </a>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table> 
      </div>
    {{/if}}
  </form>
</section>
